# Project exclude paths

/docker-compose/volumes/
/customer-service/customer-infrastructure/target
/customer-service/customer-domain/customer-domain-core/target
/customer-service/customer-domain/customer-application-service/target
/order-service/order-infrastructure/target
/order-service/order-domain/order-domain-core/target
/order-service/order-domain/order-application-service/target
/payment-service/payment-infrastructure/target
/payment-service/payment-domain/payment-domain-core/target
/payment-service/payment-domain/payment-application-service/target
/restaurant-service/restaurant-infrastructure/target
/restaurant-service/restaurant-domain/restaurant-domain-core/target
/restaurant-service/restaurant-domain/restaurant-application-service/target
/user-service/user-infrastructure/target
/user-service/user-domain/user-application-service/target
/user-service/user-domain/user-domain-core/target
/config-server/target
/discovery-service/target
/api-gateway/target
/*.iml
/.idea