# Project exclude paths

/common/common-application/target
/common/common-dataaccess/target
/common/common-domain/target
/common/common-outbox/target
/infrastructure/docker-compose/volumes/
/infrastructure/kafka/kafka-config-data/target
/infrastructure/kafka/kafka-model/target
/infrastructure/kafka/kafka-producer/target
/infrastructure/kafka/kafka-consumer/target
/infrastructure/saga/target
/infrastructure/outbox/target
/customer-service/target
/customer-service/customer-application/target
/customer-service/customer-container/target
/customer-service/customer-dataaccess/target
/customer-service/customer-messaging/target
/customer-service/customer-domain/customer-domain-core/target
/customer-service/customer-domain/customer-application-service/target
/order-service/order-application/target
/order-service/order-container/target
/order-service/order-dataaccess/target
/order-service/order-messaging/target
/order-service/order-domain/order-domain-core/target
/order-service/order-domain/order-application-service/target
/payment-service/payment-container/target
/payment-service/payment-dataaccess/target
/payment-service/payment-messaging/target
/payment-service/payment-domain/payment-domain-core/target
/payment-service/payment-domain/payment-application-service/target
/restaurant-service/restaurant-container/target
/restaurant-service/restaurant-dataaccess/target
/restaurant-service/restaurant-messaging/target
/restaurant-service/restaurant-domain/restaurant-domain-core/target
/restaurant-service/restaurant-domain/restaurant-application-service/target
/config-server/target
/*.iml
/.idea